<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/vmain.css">
	<!--<link rel="stylesheet" type="text/css" href="main.css">-->
	

</head>
<body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Order</a>
    </nav>

        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                  </tr>
                </tfoot>
                <tbody>
                  <% Order.forEach(function(key){ %>
                  <tr>
                    <!--<td><%= key %></td>-->
                    <td><%= key.name%></td>
                    <td><%= key.phoneNumber %></td>
                    <td><%= key.Email %></td>
                    <td><%= key.Address %></td>
                  </tr>
                <% }) %>
                </tbody>
              </table>
            </div>
          </div>
          <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->

        
        
        
        
        
        
        
        
		<% include ../partials/footer %>